<?xml version='1.0' encoding='utf-8'?>
<widget id="streamingmusic.emid.com.br" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rádio Online</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="suporte@emid.com.br" href="http://emid.com.br/">
        E-mid agência digital
    </author>
    <content src="index.html" />
    <access origin="*" />

	
	<feature name="BackgroundAudio">
		<param name="ios-package" value="BackgroundAudio" />
		<param name="onload" value="true" />
	</feature>


</widget>



